.carousel-image {
  height: 400px;
  object-fit: cover;
  border-radius: 14px;
  
}


.carousel-caption {
  background: rgba(0, 0, 0, 0.4); /* Optional dark overlay */
  padding: 10px;
  border-radius: 5px;
}

.carousel-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: white;
}

.carousel-subtitle {
  font-size: 1.2rem;
  color: white;
}