/* Navbar.css */

.navbar1{
  border: 2px solid black;
  background-color: black;
}
.navbar2{
  border: 2px solid black;
}
.navbar navbar-expand-lg navbar-light bg-light px-4{
  background-color: black;
}